<div class="row">
    <div class="col-md-2">
        <a class="btn btn-danger btn-block text-light" href="/private">Back</a>
    </div>
    <div class="col-md-10">
        <div class="card card-body w-75">
    <h1>Edit Poll</h1>
    <form action="/polls/{{poll.id}}?_method=PUT" method="POST">
        <input type="hidden" name="_method" value="PUT">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" name="title" value="{{poll.title}}" required>
        </div>
        <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
                <div class="input-group-text">A</div>
            </div>
            <input type="text" class="form-control" name="optionA" value="{{poll.options.A}}" required>
        </div>
        <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
                <div class="input-group-text">B</div>
            </div>
            <input type="text" class="form-control" name="optionB" value="{{poll.options.B}}" required>
        </div>
        {{#if poll.options.C}}
        <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
                <div class="input-group-text">C</div>
            </div>
            <input type="text" class="form-control" name="optionC" value="{{poll.options.C}}">
        </div>
        {{/if}}
        {{#if poll.options.D}}
        <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
                <div class="input-group-text">D</div>
            </div>
            <input type="text" class="form-control" name="optionD" value="{{poll.options.D}}">
        </div>
        {{/if}}
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>

    </div>
</div>